* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  min-height: 75px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-inline: 15px;
}

.logo {
  position: absolute;
  right: 15px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  max-width: 50px;
  width: 100%;
}

.main {
  margin-top: 15px;
}

.input {
  max-width: 500px;
  margin: auto;
}

.input input {
  font-family: inherit;
  border: 1px solid;
  font-size: 13px;
  outline: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.Demo {
  text-align: center;
  margin-top: 15px;
}
